.bottombar {
  background-color: #c01218;
  color: white;
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.bottombar-left a ,.bottombar-right a   {
  color: inherit;          
  text-decoration: none;
}
.bottombar-left a:hover {
  text-decoration: underline; 
}

.bottombar-left span {
  margin-right: 27px;
}
.bottombar-left i {
  margin-right: 6px;
}
.bottombar-right i {
  margin-left: 20px;
}
.bottombar-right i:hover {
  opacity: 0.8;
  transform: scale(1.5);
  transition: color 1.2s ease,transform 2s ease;
}
.fab.fa-facebook-f:hover {
  color: #1877f2; 
}
.fab.fa-twitter:hover {
  color: #1da1f2;
}
.fab.fa-youtube:hover {
  color: #ff0000;
}
.fab.fa-instagram:hover {
  color: #e4405f;
}
.fab.fa-linkedin-in:hover {
 color: #0077b5; 
}

@media (max-width: 768px) {
  .bottombar {
    padding: 10px 20px;
    font-size: 13px;
  }

  .bottombar-left {
    gap: 15px;
  }
}


@media (max-width: 576px) {
  .bottombar {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 12px 15px;
  }

  .bottombar-left {
    flex-direction: column;
    gap: 6px;
  }

  .bottombar-right {
    gap: 12px;
  }
}
